<div>
  <h1>Log in</h1>
  <form class="form" (submit)="loginUser($event)">
    <mat-form-field class="formfield">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username" id="username">
    </mat-form-field>

    <mat-form-field class="formfield">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Enter your password" id="password">
    </mat-form-field>
    <button type="submit" mat-button color="primary">Login</button>
  </form>
</div>
