<div >
  <div>
    <button [routerLink]="['login']" >LOG IN</button>
    <button [routerLink]="['register']">REGISTER</button>
    <button [routerLink]="['user-profile']" >PROFILE</button>
    <button [routerLink]="['admin-homepage']" >ADMIN HOMEPAGE</button>
    <button [routerLink]="['cultoff-table']" >CULT OFF TABLE</button>
    <button [routerLink]="['news-table']" >NEWS TABLE</button>
    <button [routerLink]="['cat-table']" >CAT TABLE</button>
    <button (click)="signOut()">SIGN OUT</button>
    <p *ngIf="userID"> user id: {{userID}}</p>

  </div>
</div>
<router-outlet></router-outlet>
