table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  td, th {
    width: 25%;
  }

  .addButton{
    width: 10%;
    margin-inline-start: 10%;
  }

  body{
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
  }