<html>
<body>
<button class="home-button" (click)="goHome()">Home</button>
<div class="user-profile">

  <div class="user-info">
    <h1> {{ user.username | uppercase }}'S PROFILE</h1>

    <div class="edit-form">
        <table class="edit-form-table">
            <tr>
                <td><label>Username  : </label></td>
                <td align="right"><label >{{user.username}} </label></td>
            </tr>
            <tr>
                <td><label>Email  : </label></td>
                <td align="right"><label>{{user.email}} </label></td>
            </tr>
        </table>
    </div>
  </div>
    <br>

    <div class="newsletters">
        <h2>Active subscriptions</h2>
        <table id="subscription-table" border = "1" class="news-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Unsubscribe</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subscription of subscribed">
                    <td>{{subscription.name}}</td>
                    <td><button class="unsub-btn" (click)="unsubscribe(subscription.id)">Unsubscribe</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

