body {
  margin: 0;
  padding: 0;
}
.user-profile-page {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "profile header"
    "profile newsletters";
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background-color: #262626;
  grid-area: header;
  display: flex;
  align-items: center;
}


.user-info {
  height: 100%;
  padding: 80px 20px 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: profile;
  background-color: #3f51b5;
  background-image: linear-gradient(rgb(35, 10, 126) 50px, #3f51b5 50px);
  color: white;
}
.edit-form-username {
  > label:first-of-type {
    :after {
      content: " ";
    }
  }
}
.edit-form-table tbody {
  color: #e6e6e6;
}

.newsletters {
  grid-area: newsletters;
  display: flex;
  justify-content: center;
}

.newsletters-container {
  width: 60%;
  height: 90%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.news-table {
  width: 100%;
  border: unset;
  border-collapse: collapse;
  overflow: hidden;
}

.news-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  width: fit-content;
  background-color: #3f51b5;
}
.home-button {
  margin-left: 30px;
}
.table-head {
  background-color: #3f51b5;
  border: 1px solid grey;
}
.news-table tr {
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  color: #262626;
  background-color: #ffffff;
  text-align: center;
}

.news-table td {
  border: unset;
  border: 1px inset grey;
}

