#map-mapBox {
    height: 800px;
    width: 80%;
    position: fixed;
    bottom: 0;
    right: 0;
   }

//    #filterOffer{
//        position: bottom;
//    }

.container{
    margin:0 auto;
    width:80%;
    overflow:auto;
    position: relative;
}
table.gridtable {
    margin:0 auto;
    //width:95%;
    overflow:auto;
    font-family: helvetica,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
    margin-left: 10px;
    top: 30%;
    position: absolute;
} 
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #F6B4A5;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
tr:hover {background-color: #D8DA5C}

 #filterOffers {
     margin-top : 10px;
     margin-right: 50%;
 }