<div class="home-page">

  <div class="header" id = "filterOffers" >
    <form class="search-form" >
      <input class="search-form-input" type="text" name="expression" id="expression" placeholder="Search cultural offerings" [(ngModel)]="searchLocation">
      <button mat-raised-button color="primary" id="applyFilter" class="search-button" (click)="searchCulturalOfferings()">Search</button>
    </form>
    <div class="header-button-group">
      <button *ngIf="!userLoggedIn" mat-raised-button color="primary" (click)="loginRoute()">Login</button>
      <button *ngIf="!userLoggedIn" mat-raised-button color="primary" (click)="registerRoute()">Register</button>
      <button *ngIf="userLoggedIn" mat-raised-button color="primary" (click)="myProfileRoute()">My Profile</button>
      <button *ngIf="userLoggedIn" mat-raised-button color="primary" (click)="signOut()">Sign out</button>
    </div>
  </div>
  <div class="main-content">
    <div class="select-table">
      <div class="select">
        <h1>Categories</h1>
        <select id = "selectCategory" (change)="selectOption($event.target.value)" [(ngModel)] = 'selected' >
          <option [value]="item.name" *ngFor="let item of items">{{item.name}}</option>
        </select>
      </div>

      <div class="container">
        <table class="table">
          <thead class="table-head">
          <tr class="table-row">
            <th class="name">Name</th>
            <th class="location">Location</th>
            <th class="rating">Rating</th>
          </tr>
          </thead>
          <tbody class="table-body">
          <tr class="table-row" *ngFor="let entity of entities" (click)="onClickTable(entity)">

            <td class="name">{{ entity.name }}</td>
            <td class="location">{{ entity.location }}</td>
            <td class="rating">{{ entity.rating }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="map" id="map-mapBox">
    </div>
  </div>
</div>
