<div id = "filterOffers" style="margin-left:10px">
  <form class="row col-md-12" >
    <div class="form-group col-md-5">
      <div>
        
      </div>
    </div>
    <div class="form-group col-md-5">
      <div>
        <input class="form-control" type="text" name="expression" id="expression" placeholder="Search cultural offerings" [(ngModel)]="searchLocation">
      </div>
    </div>
    <div class="form-group col-md-2">
      <div>
        <button mat-raised-button color="primary" id="applyFilter" class="btn-block" (click)="searchCulturalOfferings()">Search</button>
      </div>
    </div>
  </form>

</div>

<div id="map-mapBox"></div>

<h1><div style="font-size: 25px;">Categories</div></h1>
<select id = "selectCategory" (change)="selectOption($event.target.value)"
[(ngModel)] = 'selected' >
  <option [value]="item.name" *ngFor="let item of items">{{item.name}}</option>
</select>

<div id="container"> 
  <table class="gridtable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities" (click)="onClickTable(entity)">
      
      <td>{{ entity.name }}</td>
      <td>{{ entity.location }}</td>
      <td>{{ entity.rating }}</td>
    </tr>
    </tbody>   
  </table> 
</div>

  