body {
    background-color: #f2d4bd;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.add-btns1{
    //margin-top: 3%;
    margin-left: 60%;
}

.add-btns2{
    margin-left: 60%;
}

.btn1, .btn2, .btn3, .btn4, .btns
{
    background-color: #262626;
    border: none;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
    transition-duration: 0.4s;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .search-btn:hover, .btns:hover{
    background-color: #535353;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.search{
    margin-top: 50px;
    margin-left: 20%;
}

.search-btn{
    background-color: #262626;
    border: none;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
    transition-duration: 0.4s;
}

.search-bar{
    text-align: center;
}

.co-table, .n-table, .ct-table{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
}

.co-table th, .n-table th, .ct-table th{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: #262626;
}


.co-table tr, .n-table tr, .ct-table tr{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: #262626;
    background-color: #ffffff;
    text-align: center;
}


.table-btn{
    background-color: #535353;
    border: none;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 14px;
    transition-duration: 0.4s;
    display: inline-block;}

.table-btn:hover{
    background-color: #262626;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.t-btns{
    margin-top: 40px;
    margin-left: 32%;
}

label{
    margin-left: 5px;
    margin-right: 15px;
    margin-left: 5px;
    margin-left: 5px;
    font-size: 18px;
}

.filters{
    margin-top: 3%;
    margin-left: 20%;
}